.wrapper {
  --wrapper-height: 265px;
  --wrapper-width: 327px;

  position: absolute;
  top: 300px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 8;
  pointer-events: none;

  //width: calc(100% - 48px);
  width: var(--wrapper-width);
  height: var(--wrapper-height);

  @media (min-width: 768px) {
    top: 388px;
    --wrapper-width: 430px;
    --wrapper-height: 348px;
  }
  @media (min-width: 1024px) {
    top: 200px;
    --wrapper-width: 439px;
    --wrapper-height: 357px;
  }
  @media (min-width: 1300px) {
    top: 50%;
    transform: translate(-50%, -50%);
    --wrapper-width: 527px;
    --wrapper-height: 428px;
  }
  @media (min-width: 1750px) {
    --wrapper-width: 660px;
    --wrapper-height: 535.5px;
    @media (min-height: 1000px) {
      --wrapper-width: 734px;
      --wrapper-height: 595px;
    }
  }

  .cube {
    position: absolute;
    z-index: 1;
    svg,
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.leftSide {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2 !important;
  width: 65.6677%;
  height: 100%;
}

.topSide {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2 !important;
  width: 74.38692%;
  height: 39.4959%;
}

.bottomSide {
  position: absolute;
  z-index: 2 !important;
  bottom: 0;
  right: 0;
  width: 60.35422%;
  height: 60.67227%;
}

.cube1 {
  top: 37.0805%;
  left: 28.8425%;
  width: 122px;
  height: 99px;
  @media (min-width: 768px) {
    width: 160px;
    height: 130px;
  }
  @media (min-width: 1024px) {
    width: 164px;
    height: 133px;
  }
  @media (min-width: 1300px) {
    width: 197px;
    height: 160px;
  }
  @media (min-width: 1750px) {
    width: 275px;
    height: 223px;
  }
}

.cube2 {
  top: 0.67114%;
  left: 33.7414%;
  width: 48px;
  height: 41px;
  @media (min-width: 768px) {
    width: 63px;
    height: 54px;
  }
  @media (min-width: 1024px) {
    width: 65px;
    height: 56px;
  }
  @media (min-width: 1300px) {
    width: 78px;
    height: 67px;
  }
  @media (min-width: 1750px) {
    width: 109px;
    height: 93px;
  }
}

.cube3 {
  top: 25.167785%;
  right: 11.428571%;
  width: 79px;
  height: 68px;
  @media (min-width: 768px) {
    width: 104px;
    height: 88px;
  }
  @media (min-width: 1024px) {
    width: 107px;
    height: 91px;
  }
  @media (min-width: 1300px) {
    width: 128px;
    height: 110px;
  }
  @media (min-width: 1750px) {
    width: 179px;
    height: 153px;
  }
}

.cube4 {
  top: 25%;
  left: 17.41496%;
  width: 58px;
  height: 57px;
  @media (min-width: 768px) {
    width: 77px;
    height: 75px;
  }
  @media (min-width: 1024px) {
    width: 78px;
    height: 77px;
  }
  @media (min-width: 1300px) {
    width: 94px;
    height: 92px;
  }
  @media (min-width: 1750px) {
    width: 132px;
    height: 129px;
  }
}

.cube5 {
  top: 2.852348%;
  left: 46.66666%;
  width: 90px;
  height: 90px;
  @media (min-width: 768px) {
    width: 111px;
    height: 116px;
  }
  @media (min-width: 1024px) {
    width: 114px;
    height: 119px;
  }
  @media (min-width: 1300px) {
    width: 136px;
    height: 142px;
  }
  @media (min-width: 1750px) {
    width: 225px;
    height: 232px;
  }
}

.cube6 {
  top: 48.8255%;
  left: 53.33333%;
  width: 100px;
  height: 100px;
  @media (min-width: 768px) {
    width: 136px;
    height: 134px;
  }
  @media (min-width: 1024px) {
    width: 139px;
    height: 138px;
  }
  @media (min-width: 1300px) {
    width: 167px;
    height: 165px;
  }
  @media (min-width: 1750px) {
    width: 272px;
    height: 270px;
  }
}

.cube7 {
  top: 55.7046%;
  left: 12.517%;
  width: 78px;
  height: 81px;
  @media (min-width: 768px) {
    width: 104px;
    height: 107px;
  }
  @media (min-width: 1024px) {
    width: 106px;
    height: 109px;
  }
  @media (min-width: 1300px) {
    width: 127px;
    height: 131px;
  }
  @media (min-width: 1750px) {
    width: 204px;
    height: 208.5px;
  }
}
