.container {
  padding: 0 !important;
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 50.1% 1fr;
  }
  @media (min-width: 1750px) {
    grid-template-columns: 50% 1fr;
  }
}

.videoBlock {
  display: flex;
  flex-direction: column;
}

.videoWrapper {
  width: 100%;
  height: 400px;
  @media (min-width: 768px) {
    // height: 562px;
    height: auto;
    flex-grow: 1;
  }
  @media (min-width: 1024px) {
    // height: 566px;
  }
  @media (min-width: 1300px) {
    // height: 560px;
  }
  @media (min-width: 1750px) {
    // height: 758px;
  }
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.subtitle {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  border-top: 1px solid var(--color-grey-dark);
  border-bottom: 1px solid var(--color-grey-dark);
  @media (min-width: 768px) {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  @media (min-width: 1300px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.featuresWrapper {
  border-bottom: 1px solid var(--color-grey-dark);
  @media (min-width: 768px) {
    border-top: 1px solid var(--color-grey-dark);
  }
}

.feature {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  + .feature {
    border-top: 1px solid var(--color-grey-dark);
  }
  @media (min-width: 768px) {
    padding-top: 48px;
    padding-bottom: 48px;
    border-left: 1px solid var(--color-grey-dark);
  }
  @media (min-width: 1300px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  h3 + p {
    margin-top: 16px;
  }
  p + h3 {
    margin-top: 16px;
  }
}

.cube1 {
  position: absolute;
  top: -17px;
  right: 17.333%;
  z-index: 3;
  width: 101px;
  height: 86px;
  transform: scaleX(-1);
  @media (min-width: 768px) {
    top: -37px;
    right: 16.62%;
  }
  @media (min-width: 1024px) {
    right: 20.1%;
  }
  @media (min-width: 1300px) {
    right: 28.3%;
  }
  @media (min-width: 1750px) {
    right: 29.5%;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.cube2 {
  position: absolute;
  top: -128px;
  right: -20%;
  z-index: 3;
  width: 178px;
  height: 152px;
  @media (min-width: 768px) {
    top: -88px;
    right: -24.67%;
  }
  @media (min-width: 1024px) {
    top: -80px;
    right: -10.74%;
  }
  @media (min-width: 1300px) {
    top: -48px;
    right: 7%;
  }
  @media (min-width: 1750px) {
    top: -70px;
    right: 13%;
  }

  img {
    width: 100%;
    height: 100%;
  }
}
