.wrapper {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  @media (min-width: 768px) {
    align-items: center;
  }

  input {
    flex: 0 0 24px;
  }

  label {
    color: var(--color-grey);
  }
}
