.blok {
  padding: 24px;

  border-width: 0;
  border-style: solid;
  border-color: var(--color-grey-dark);
  border-top-width: 1px;
  border-bottom-width: 1px;
  cursor: pointer;
  transition: border-color 0.3s ease;

  + .blok {
    border-top-width: 1px;
    @media (max-width: 767px) {
      margin-top: -1px;
    }
  }

  &:nth-child(2) {
    @media (max-width: 767px) {
      border-top: none;
    }
  }
  &:nth-child(odd) {
    padding-left: var(--container-padding);
    @media (min-width: 768px) {
      border-right-width: 1px;
    }
  }
  &:nth-child(even) {
    padding-right: var(--container-padding);
    @media (min-width: 768px) {
      border-left-width: 1px;
      // margin-left: -1px;
    }
  }

  &:hover {
    z-index: 2;
    border-color: var(--color-purple);
  }

  h3 {
    margin-top: 24px;
  }
}

.image {
  width: 100%;
  border-radius: 2px;
  object-fit: cover;
  height: 350px;
  @media (min-width: 1300px) {
    height: 400px;
  }
  @media (min-width: 1300px) {
    height: 600px;
  }
}

.labelsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 32px;
}
