.header {
  display: grid;
  grid-template-columns: 100%;
  gap: 24px;

  @media (min-width: 1300px) {
    grid-template-columns: 57.6% 32.2%;
    justify-content: space-between;
  }
  @media (min-width: 1600px) {
    grid-template-columns: 59% 34%;
    justify-content: space-between;
  }
}

.grid {
  padding: 0 !important;
  border-bottom: 1px solid var(--color-grey-dark);
  @media (min-width: 1300px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.block {
  display: flex;
  align-items: center;
  gap: 24px;
  border-top: 1px solid var(--color-grey-dark);

  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);

  @media (min-width: 1300px) {
    padding-top: 48px;
    padding-bottom: 48px;
    gap: 48px;
  }
  @media (min-width: 1600px) {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  img {
    width: 46px;
    @media (min-width: 1300px) {
      width: 56px;
    }
  }

  &:nth-child(2) img {
    transform: rotate(45deg);
  }
  &:nth-child(3) img {
    transform: rotate(225deg);
  }
  &:nth-child(4) img {
    transform: rotate(180deg);
  }
  &:nth-child(5) img {
  }
  &:nth-child(6) img {
    transform: rotate(45deg);
  }

  &:nth-child(odd) {
    @media (min-width: 1300px) {
      padding-right: 24px;
    }
  }
  &:nth-child(even) {
    @media (min-width: 1300px) {
      padding-left: 24px;
      border-left: 1px solid var(--color-grey-dark);
    }
  }
}
