.input {
  + .input {
    margin-top: 32px;
  }
}

.button {
  margin-top: 64px;
  width: 100%;
}

.checkbox {
  margin-top: 24px;
}

.message {
  margin-top: 16px;
  color: var(--color-purple);

  &.wait {
  }
  &.susses {
  }
  &.error {
    color: oklch(63.7% 0.237 25.331);
  }
}
