.label {
  position: relative;
  background-color: var(--color-dark);

  &::before,
  &::after,
  span::before,
  span::after {
    content: '';
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-width: 0;
    border-style: solid;
    border-color: #3f404a;
  }

  &::before {
    top: 0;
    left: 0;
    border-left-width: 1px;
    border-top-width: 1px;
  }
  &::after {
    top: 0;
    right: 0;
    border-right-width: 1px;
    border-top-width: 1px;
  }
  span::before {
    bottom: 0;
    left: 0;
    border-left-width: 1px;
    border-bottom-width: 1px;
  }
  span::after {
    bottom: 0;
    right: 0;
    border-right-width: 1px;
    border-bottom-width: 1px;
  }
}

.text {
  border-radius: 30px;
  padding: 10px 16px;

  @media (min-width: 768px) {
    padding: 13px 24px;
  }
  @media (min-width: 1600px) {
    padding: 12px 24px;
  }
}

.number {
  border-radius: 16px;
  padding: 10px 24px;
}
