.container {
  display: grid;
  grid-template-columns: 100%;
  gap: 32px;

  @media (min-width: 768px) {
    gap: 48px;
  }
  @media (min-width: 1300px) {
    grid-template-columns: 40.6% 49.2%;
    justify-content: space-between;
  }
  @media (min-width: 1600px) {
    grid-template-columns: 41% 49.4%;
  }
}

.image {
  border-radius: 2px;
  height: 400px;
  width: 100%;
  object-fit: cover;

  @media (min-width: 1300px) {
    height: 100%;
  }
}
